<mat-accordion>

  <mat-expansion-panel *ngFor='let livro of livros'>

    <mat-expansion-panel-header>
      ID: {{ livro.id}}
    </mat-expansion-panel-header>

    <p>Titulo: {{ livro.titulo}}</p>
    <p>Autor do Livro: {{ livro.autor}}</p>
    <p>Páginas do Livro {{ livro.pagina}}</p>

    <mat-action-row>
      <button mat-button color="primary">Editar</button>
      <button mat-button color="warn">Remover</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>


<p *ngIf="livros.length <= 0">
  Nenhum Livro cadastrado!
</p>
